<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Albergo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Aggiungi il link al foglio di stile di Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
            margin-bottom: 15%;
           
        }

        footer {
            margin-top:10px;
            background-color: #343a40;
            color: #fff;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .navbar {
            background-color: #343a40;
        }

        .navbar-brand {
            color: #fff;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .navbar-nav .nav-link {
            color: #fff;
            font-weight: bold;
        }

            .navbar-nav .nav-link:hover {
                color: #ccc;
            }

      
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            @Html.ActionLink("Albergo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Ricerca prenotazioni", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Pensioni complete", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Aggiungi Prenotazione", "AddPren", "Prenotazioni", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                </ul>
                <ul class="navbar-nav text-white">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @using (Html.BeginForm("Logout", "Login"))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-link text-white">Logout</button>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Assistenza</h5>
                    <p>Telefono: 123-456-7890</p>
                    <p>Email: info@assistenza.com</p>
                    <p>Indirizzo: Via della risoluzione, 123</p>
                </div>
                <div class="col-md-4">
                    <h5>Link utili</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Termini e condizioni</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Domande frequenti</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Seguici su</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>